
/*
     FILE ARCHIVED ON 12:49:04 Jul 28, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:04:26 Sep 23, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 402.908
  exclusion.robots: 0.242
  exclusion.robots.policy: 0.229
  cdx.remote: 0.071
  esindex: 0.012
  LoadShardBlock: 121.537 (3)
  PetaboxLoader3.datanode: 93.933 (4)
  load_resource: 296.053
  PetaboxLoader3.resolve: 247.806
*/