.modal.ui-cm4all-popup-guistrap.ui-cm4all-unclosable button,.modal.ui-cm4all-popup-guistrap.ui-cm4all-alert button.ui-cm4all-cancel-button,.modal.ui-cm4all-popup-guistrap.ui-cm4all-alert button.ui-cm4all-no-button,.modal.ui-cm4all-popup-guistrap.ui-cm4all-alert button.ui-cm4all-yes-button,.modal.ui-cm4all-popup-guistrap.ui-cm4all-confirm button.ui-cm4all-no-button,.modal.ui-cm4all-popup-guistrap.ui-cm4all-confirm button.ui-cm4all-yes-button,.modal.ui-cm4all-popup-guistrap.ui-cm4all-yes-no-cancel button.ui-cm4all-ok-button{display:none;}.gs-base iframe.ui-cm4all-popup-guistrap{position:fixed;top:0;left:0;bottom:auto;right:auto;width:100%;height:100%;border:none;background:none;-ms-user-select:none;}
/*
     FILE ARCHIVED ON 12:49:03 Jul 28, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:03:46 Sep 23, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 598.938
  exclusion.robots: 0.178
  exclusion.robots.policy: 0.167
  cdx.remote: 0.063
  esindex: 0.01
  LoadShardBlock: 48.234 (3)
  PetaboxLoader3.datanode: 54.248 (4)
  load_resource: 768.755
  PetaboxLoader3.resolve: 724.437
*/